<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Intrest and courses</title>
    </head>
    <body>
    <h1> Annoh Mienza</h1>
    <h2>favorite Artist</h2>
   <p>Kanye, Drake, Frank Ocean, and tyler the Creator</p>
    <h2> favorite songs</h2>
 <P>Monster, Snooze, Wusyaname, and for all the dogs</P>
    <p> Last semester courses</p>
    <ol>
    <li> BMGT 402,</li>
     <LI>BMGT 444</LI>
     <LI>BMGT 403</LI>
     <LI>BMGT 440</LI>
    </ol>

   <ul>
    <P> My favorite Courses at Maryland</P>
    <LI> BMGT 495</LI>
    <LI> BMGT 340 </LI>
    <LI> BMGT 402</LI>
   </ul>
    </body>
</html>