<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interest and Courses</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo" class="logo">
    <h1>Annoh Mienza III</h1>
    <h2>Top Artists as of Right Now</h2>
    <p>Kanye, Lucki, Brent Faiyaz, NBA Youngboy, and Vezze</p>
    <h2>Recommended Songs</h2>
    <p>Aye, Snooze, Wusyaname, and YESHUA - Dance Cruise</p>
    <p>Semesters Taken</p>
    <ol>
        <li>BMGT 402</li>
        <li>BMGT 444</li>
        <li>BMGT 403</li>
        <li>BMGT 440</li>
    </ol>
    <p>My Favorite Courses at Maryland</p>
    <ul>
        <li>BMGT 495</li>
        <li>BMGT 340</li>
        <li>BMGT 402</li>
    </ul>
    <p>I Love Cars</p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT 402</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT 403</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT 444</td>
            <td>Fall 2023</td>
        </tr>
    </table>
    <p id="car">My dream car is an Audi R8</p>
    <div class="height-100 width-100"></div>
    <div class="height-200 width-100"></div>
</body>
</html>