<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Macarhans</title>
</head>
<body>
<h1>About Us</h1>

<img src="/Users/annoh/Desktop/Screenshot 2024-02-28 at 6.07.56 PM.png" alt="Susanna Han, Owner of Marcarhans wearing a Marcarhans black hoodie">
<p>At Marcarhans, we believe in the joy that comes from sharing delicious treats with loved ones. Founded by Susanna Han, a passionate student at the University of Maryland (UMD), Marcarhans is more than just a small business—it's a labor of love.</p>
<p>Specializing in macarons, our baked goods are crafted with care and attention to detail. We understand the importance of connecting with others, which is why we cater to the undergraduate demographic, offering delightful treats that make perfect gifts for any occasion. Whether it's a birthday celebration or a club event, our macarons are sure to bring smiles to faces and warmth to hearts.</p>
<p>Our dedication to spreading happiness through our baked goods remains unwavering.
Thank you for joining us on this sweet journey. Together, let's continue to savor life's little moments, one macaron at a time.</p>
</body>
</html>