<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Intrest and courses</title>
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body>
     <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo" class="logo">
    <h1> Annoh Mienza III</h1>
    <h2>Top Artist as of right now</h2>
   <p>Kanye, Lucki, Brent faiyaz, NBA Youngboy, and Vezze</p>
    <h2> recommended songs</h2>
 <P>Aye, Snooze, Wusyaname, and YESHUA - dance cruise</P>
    <p> semester taken</p>
    <ol>
    <li> BMGT 402</li>
     <LI>BMGT 444</LI>
     <LI>BMGT 403</LI>
     <LI>BMGT 440</LI>
    </ol>

   <ul>
    <P> My favorite Courses at Maryland</P>
    <LI> BMGT 495</LI>
    <LI> BMGT 340 </LI>
    <LI> BMGT 402</LI>
   </ul>
    <P>I love cars</P>
   <table>
   <tr>
     <th>course</th>
       <th> semester taken</th>
   </tr>
       <tr>
           <td>BMGT402</td>
           <td>fall 2023</td>
       </tr>
       <tr>
           <td>BMGT403</td>
           <td>fall 2023</td>
       </tr>
       <tr>
           <td>BMGT444</td>
           <td>fall 2023</td>
       </tr>
   </table>
    <p id='car'> my dream car is an Audi R8</p>
    <div class ="height-100 width-100">
    </div>
    <div class="height-200 width-100">
    </div>
    </body>
</html>